html{
    font-family: "DM+Sans", sans-serif;
    font-size: 62.5%;
    font-weight: 500;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: "DMSans";
    src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf),  url(../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
} */

